<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

        <title>Web S</title>
</head>
<header>
    <div class="one">
        <h2 class="title">TEKNOLOGI</h2>
        <hr class="logo-line">
        <h1 class="name">DEPLOYMENT</h1>
    </div>
    <div class="nav-div">
        <nav class="nav-bar">
            <ul class="ul-nav">
                <li class="li-nav"><a class="a-nav" href="default.asp">SPRING BOOT</a></li>
                <li class="li-nav"><a class="a-nav" href="news.asp">HEROKU</a></li>
                <li class="li-nav"><a class="a-nav" href="contact.asp">GITHUB</a></li>
                <li class="li-nav"><a class="a-nav" href="about.asp">DREAMHOST</a></li>
            </ul>


        </nav>

    </div>

</header>
<body>
<div class="flex">
<div class="body-one">
    <h1 class="body-h1">My Website</h1>
    <hr>
    <p class="p-body">If you become or lure with a separate career, sorrow illuminates you. A falsis, rumor raptus elevatus.
        If you become or lure with a separate career, sorrow illuminates you. A falsis, rumor raptus elevatus.
        If you become or lure with a separate career, sorrow illuminates you. A falsis, rumor raptus elevatus.
        If you become or lure with a separate career, sorrow illuminates you. A falsis, rumor raptus elevatus.
        If you become or lure with a separate career, sorrow illuminates you. A falsis, rumor raptus elevatus.
        If you become or lure with a separate career, sorrow illuminates you. A falsis, rumor raptus elevatus.
        If you become or lure with a separate career, sorrow illuminates you. A falsis, rumor raptus elevatus.
    </p>



</div>
</div>
</body>
</html>